In [1]:
import pandas as pd
import numpy as np

In [10]:
add=pd.read_csv("Fully Cleant.csv")

In [11]:
add.drop("Unnamed: 0",axis=1,inplace=True)

In [8]:
add.head()

    User ID  Age  EstimatedSalary  Purchased  Female  Male
0  15624510   19            19000          0       0     1
1  15810944   35            20000          0       0     1
2  15668575   26            43000          0       1     0
3  15603246   27            57000          0       1     0
4  15804002   19            76000          0       0     1

In [4]:
from sklearn.model_selection import train_test_split

In [12]:
X=add.drop("Purchased",axis=1)
y=add["Purchased"]

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
model=LogisticRegression()

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [32]:
model.fit(X_train,y_train)

LogisticRegression()

In [33]:
pred=model.predict(X_test)

In [20]:
from sklearn.metrics import classification_report,confusion_matrix

In [34]:
print(confusion_matrix(y_test,pred))
print(classification_report(y_test,pred))

[[79  1]
 [19 33]]
              precision    recall  f1-score   support

           0       0.81      0.99      0.89        80
           1       0.97      0.63      0.77        52

    accuracy                           0.85       132
   macro avg       0.89      0.81      0.83       132
weighted avg       0.87      0.85      0.84       132